.destination__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 163px 180px 56px;
	margin: 0 auto;
}

.default__button.view-all {
	color: #fb8f1d;
	background-color: transparent;
	border: none;
	margin: 30px 0;
	font-weight: 600;
	font-size: var(--font-size-xs);
	width: auto;
}

.default__button.view-all:hover {
	color: #ee7b00;
}


.destination ul {
	display: flex;
	justify-content: center;
}

.destination-item {
	margin-right: 30px;
}

.destination-item-title {
	display: block;
	position: relative;
	width: 130px;
	height: 56px;
	background-color: #fff;
	border-radius: 0px 6px 0px 0px;
	bottom: 50px;
	padding-top: 11px;
	color: #042521;
	font-weight: 600;
	font-size: 1.125rem;
}

.destination-item-subtittle {
	display: block;
	position: relative;
	width: 120px;
	height: 56px;
	background-color: #fff;
	border-radius: 0px 6px 0px 0px;
	bottom: 80px;
	color: #80918e;
	font-weight: 500;
	font-size: var(--font-size-xxs);
}


.destination-item img {
	display: block;
	max-width: 100%;
	border-radius: 8px;
}


@media screen and (max-width: 767px) {
	.destination__container {
		flex-direction: column;
		padding: 20px;
	}

	.destination__title {
		margin: 0 20px 0;
	}

	.destination ul {
		flex-direction: column;
		align-items: center;
	}

	.destination-item {
		margin: -40px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.destination {
		padding: 0 30px 0;
	}

	.destination__container {
		padding: 100px 40px 15px;
	}

	.destination-item {
		margin: 0 10px 0;
	}
}

@media screen and (min-width: 1024px) {
	.destination__container {
		padding: 100px 30px 20px;
	}
}