.footer {
	background: #F8F8F8;
}

.footer__branding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.footer__branding-credits {
	font-family: "Mulish";
	font-weight: 300;
	font-size: var(--font-size-xs);
	line-height: 28px;
	color: #848484;
}

.footer__hr {
	color: #c4c4c4;
	height: 0.6px;
	margin-top: 40px;
}

.footer__social {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	padding-top: 30px;
}

.footer__social-link {
	margin-right: 35px;

}

@media screen and (max-width: 767px) {
	.footer__branding-credits {
		padding-left: 10px;
	}

	.footer__social-link {
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
}