.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0 40px;
	height: 130px;
}

.header__nav ul {
	display: flex;
	justify-content: space-between;
}

.header__logo:active {
	animation-name: bounce;
	animation-duration: 3s;
}

.header__entry {
	display: flex;
}

.header__nav-item.active a {
	margin-right: 35px;
	font-weight: 500;
	color: #202336;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
}

.header__nav-item a {
	margin-right: 35px;
	font-weight: 400;
	color: #b8becd;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
}

.header__nav-item a:hover {
	color: #202336;
	background-size: 100% 2px;
}

.default__button.outlined {
	margin-right: 18px;
}

@media screen and (max-width: 767px) {

	.header {
		position: fixed;
		height: 128px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		padding: 0 30px 0;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.header__nav {
		background: #fb8f1d;

		position: fixed;
		top: 128px;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: 0;
		padding: 116px;
		text-align: center;
		clip-path: circle(0 at top left);
		transition: clip-path 0.6s linear;
	}

	.header__nav ul {
		flex-direction: column;
		height: 100%;
	}

	.header__nav-item.active a {
		color: #fff;
	}

	.header__nav-item a {
		color: #fff;
	}


	.header__nav.open {
		clip-path: circle(1000px at top);
	}

	.header__menu {
		display: inline;
	}

	.header__logo {
		padding: 0;
		display: inline;
	}

	.header__entry {
		padding-right: 30px;
	}

	.default__button.outlined {
		margin-right: 8px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header {
		position: fixed;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		padding-bottom: 20px;
		background: #fff;
		justify-content: space-between;
	}

	.header__logo {
		padding-right: 0px;
		display: inline;
	}

	.header__menu {
		display: inline;
		padding: 0 70px 0 20px;
	}

	.header__nav ul {
		display: none;
	}

	.header__entry {
		padding-right: 30px;
		padding-left: 50px;
	}
}