.header {
	display: flex;
	align-items: center;
	padding-top: 43px;
}

.header__logo {
	padding-right: 515px;
}

.header__nav ul {
	display: flex;
	justify-content: flex-end;
}

.header__nav-item.active a {
	margin-right: 35px;
	font-weight: 500;
	color: #202336;
}

.header__nav-item a {
	margin-right: 35px;
	font-weight: 400;
	color: #B8BECD;
}

.header__nav-item a:hover {
	color: #202336;
}

.default__button.outlined {
	margin-right: 18px;
}