body::before {
	display: block;
	content: '';
	height: 125px;
}

li {
	list-style-type: none;
}

.search-input {
	max-width: 50%;
}

.create_page-form {
	max-width: 50%;
}

#main_page {
	display: none;
}

#main_page.open {
	display: block;
}

#create_page {
	display: none;
}

#create_page.open {
	display: block;
}

#edit_page {
	display: none;
}

#edit_page.open {
	display: block;
}

#collapse-total-price {
	display: none;
}

#collapse-total-price.open {
	display: block;
}

body {
	min-height: 100vh;

}